* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background: rgba(0, 0, 0, 0) url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    text-align: center;
    font-family: arial;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

.heading {
    font-size: 3rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
}

.heading .logo {
    margin-top: 1rem;
    padding-top: 1rem;
}

h1 {
    display: block;
    font-family: 'Sedgwick Ave Display', cursive;
    color: ghostwhite;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
}

.heading span {
    padding-top: 0.5rem;
}

.startButton {
    background-color: white;
    border-color: #9e9e9e;
    border-radius: 5px;
    border-style: solid 1px #9e9e9e;
    color: white;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    text-shadow: none;
    width: 15rem;
    color: #000000;
    margin-top: 25px;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.intro-section,
.quiz-section,
.results-section {
    display: block;
    text-align: center;
    padding: 2rem;
    width: 40rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0) url("../images/transparent.jpg") no-repeat center center fixed;
    border-radius: 15px;
}

#prompt {
    padding-bottom: 20px;
}

.answers {
    padding-bottom: 20px;
}

.answers li {
    padding-bottom: 10px;
}

.retryButton {
    background-color: white;
    border-color: #9e9e9e;
    border-radius: 5px;
    border-style: solid 1px #9e9e9e;
    color: white;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    text-shadow: none;
    width: 15rem;
    color: #000000 margin-top: 25px;
}
